.container{
    width: 33%;
    padding: 2%;
}

.name{
    text-decoration:underline;
    font-size: xx-large;
    color: #234473;
}

.code{
    font-weight: bold;
    font-size: large;
}

.desc{
    padding: 1%;
}