.header{
    margin: auto;
    background-color: rgba(127, 255, 212, 0.26);
    height: 100px;
    display: flex;
}

.mainIcon
{
    height: 100%;
    width: 15%;
    flex: left;
    background-color: blue;
}

.clickables{
    height: 100%;
    width: 60%;
    flex: left;
    background-color: burlywood;
}

ul.nav{
    padding-left: 0;
    text-align: center;
    font-size: 20px;
}
ul.nav > li {
    display: inline-block;
    padding: 15px 20px;
    background-color: white;
}
ul.nav >li:hover{
    background-color:aqua;
    text-decoration: underline;
}


.searchBar
{
    height: 100%;
    width: 25%;
    background-color: green;
    flex: right;
}

.searchArea
{
    display: flex;
    border: black 2px solid;
    border-radius: 5px;
    margin: 5%;
    flex: left;
    padding-left: 5px;
}