.home-page-content
{
    width: 100%;
    background-color: deepskyblue;
}

.hpc-side-column
{
    flex:left;
    width: 33.33333%;
    background-color: aquamarine;
}

.hp-main-message{
    font-size: 85px;;
    font-weight: bolder;
}

.hpc-main-pic{
    flex: right;
    width: 66.66666%;
    background-color: khaki;
}

.our-story{
    margin:auto;
    padding: 80px;

}

.our-story-side-quote{
    width: 65%;
    background-color: beige;
    font-size: 100px;
    font-weight: bolder;
    align-items: center;
    padding: 100px;
}