.header{
    margin: auto;
    padding-bottom: 30px;
    background-color:#E5D9CD;
    display: flex;
}

.mainIcon
{
    height: 100%;
    width: 15%;
    flex: left;

}

.clickables{
    height: 100%;
    width: 60%;
    flex: left;
    overflow: hidden;

}

.position{
    display: inline-flex;
}

.interaction{
    color: black;
    display: inline-flex;
    text-decoration: none;
}

.interaction:hover{
    color: #F7A520;
    text-decoration: underline;
    transform: scale(1.5);
    transition: .2s;
}
ul.nav{
    padding-left: 0;
    text-align: left;
    font-size: 20px;
    font-family: 'Inter';
    color: aquamarine;
}
ul.nav > li {
    display: inline-block;
    padding: 15px 20px;
    transition: 0.3s;
}

.wow{
    transition: .5s;
}