.productCat{
    width: 100%;
    margin-bottom: 30px;
    background-color: cornflowerblue;
    font-size: xx-large;
}

.filters{
    width: 5%;
    background-color: rgba(180, 180, 180, 0.87);
    border-style: outset;
    border-radius: 5px;
    width: 5%;
    margin-left: 3%;
    padding: 2px 5px;
}

.productRow{
    display: flex;
}

.productItem{
    margin: 3%;
    background-color: thistle;
    text-align: left;
}