.specificProduct{
    display: flex;
    background-color:palegoldenrod;
    margin-left: 5%;

}

.inlineDetails{
    display:flex;

}

.lJust{
    justify-content: left;
    margin-left: 5%;
}

.midJust{
    margin-left: 45%;
    position: 20px;
}

.rJust{
    justify-content: right;
    margin-left: 35%;
}